<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.byuh.cis.cs203.bw4"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="R.A.F."
        android:theme="@style/AppTheme" >
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="landscape"
            android:name="edu.byuh.cis.cs203.bw4.MainActivity"
            android:label="R.A.F" >
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="landscape"
            android:name="edu.byuh.cis.cs203.bw4.SplashScreen"
            android:label="R.A.F" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
